/* Navbar styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand {
    font-size: 2rem;
    font-family: 'Black Rainbow Script FREE';
    color: black;
}

.navbar-brand:hover {
    color: black;
}

.nav-link {
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-family: 'Poppins', 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

.nav-link:hover {
    color: black;
}

.search {
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    font-family: 'Poppins', 'Courier New', Courier, monospace;
    border: 2px solid rgb(248, 26, 92);
}

.btn0 {
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(248, 26, 92);
    color: white;
    border-radius: 60px;
    font-weight: 700;
}


/* End of Navbar styles */

.main {
    background: url(/images/footwear.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
}

.main p {
    font-size: 4rem;
    font-weight: 700;
}

.btn1 {
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: rgb(248, 26, 92);
    color: white;
    font-weight: 700;
    border-radius: 60px;
}

.btn1:hover {
    background-color: rgb(209, 21, 77);
    transition: 0.5s;
}

h1 {
    font-weight: 700;
}

.card:hover {
    box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.75);
    -moz-box-sh: -2px -1px 25px -4px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
}

.ikons {
    width: 250px;
    height: 190px;
}

.apple {
    background: url(/images/alexander-rotker-l8p1aWZqHvE-unsplash.jpg)no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}

.apple h1 {
    font-family: 'Black Rainbow Script FREE';
}

.news {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}